#logo{
   width:50px;
    height:40px;
}
#follow_main{
margin-left:700px;
font-size: 25px;
color:white;
}
#logo_main{
    margin-left:690px;
    margin-top: 10px;
}
#instagram_logo{
    margin-left: 10px;
}