.nav_bar{
    background-color: blueviolet;
}
.title_fitapp{
    color:whitesmoke;
    font-size: 40px;
    font-family:sans-serif;
}
.title_bar{
background-color: blueviolet;
padding-left:650px;
}
.weight_alignment{
    margin-top:80px;
    display: flex;
    flex-direction: row;
    margin-left:45px;
}